<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moran.mapper.SysMenuMapper">
  <resultMap id="baseResultMap" type="com.moran.model.SysMenu">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="parentId" column="parent_id" jdbcType="INTEGER"/><!-- 上级ID -->
    <result property="icon" column="icon" jdbcType="VARCHAR"/><!-- 图标 -->
    <result property="title" column="title" jdbcType="VARCHAR"/><!-- 菜单名称 -->
    <result property="path" column="path" jdbcType="VARCHAR"/><!-- 路由地址 -->
    <result property="component" column="component" jdbcType="VARCHAR"/><!-- 组件路径 -->
    <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
    <result property="type" column="type" jdbcType="INTEGER"/><!-- 类型:1:菜单,2:按钮 -->
    <result property="sort" column="sort" jdbcType="INTEGER"/><!-- 排序 -->
    <result property="isShow" column="is_show" jdbcType="TINYINT"/><!-- 是否隐藏 -->
    <result property="api" column="api" jdbcType="VARCHAR"/><!-- 权限标识 -->
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
  </resultMap>

  <select id="findByUserId" resultMap="baseResultMap">
    select distinct m.*
    from sys_menu m
    left join sys_role r on json_contains(r.menu_ids, json_array(m.id))
    left join sys_user u on json_contains(u.role_ids, json_array(r.id))
    where u.id = #{userId}
  </select>
</mapper>