<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moran.mapper.SysRoleMapper">
  <resultMap id="baseResultMap" type="com.moran.model.SysRole">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="name" column="name" jdbcType="VARCHAR"/><!-- 角色名称 -->
    <result property="remark" column="remark" jdbcType="VARCHAR"/><!-- 备注 -->
    <result property="menuIds" column="menu_ids" jdbcType="CHAR"/><!-- 菜单ID集合 -->
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
    <result property="root" column="root" jdbcType="TINYINT"/><!-- 主角色 -->
  </resultMap>
</mapper>